/* body {
  width           : 100vw;
  height          : 100vh;
  display         : flex;
  justify-content : center;
  align-items     : center;
  font-family: Arial, Helvetica, sans-serif;
} 

  p {
    padding       : 1rem;s
    font-size     : 1.2rem;
    text-align    : center;
    display       : block;
    width         : 100vw;
  }

  #location {
    background    : #dfdfdf;
    font-size     : 1.6rem;
  } */